/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.download {
width: 150px;  
text-align: center;  
text-transform: none;
font-size: 15px;
display: inline-block;
background: #00A0DF;
color: #fff;
font-size: 18px;
border-radius: 50px;
text-decoration: none;
font-family: 'Open Sans', Verdana, Arial, sans-serif; }

.download a {
  text-decoration: none;
  color: #fff;
}

.download a:hover {
    color: #fff;
}
.download p {
  margin: 5px 0;
}
